@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #3d3b40;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

:root {
  --primary: #e4002b; 
  --primary-hover: #a81e35;
}
